<app-menu></app-menu>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Description</th>
      <th scope="col">Justification</th>
      <th scope="col">Status</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ request.user.lastName }}, {{ request.user.firstName }}</td>
      <td>{{ request.description }}</td>
      <td>{{ request.justification }}</td>
      <td>{{ request.status }}</td>
      <td>{{ request.total | currency }}</td>
    </tr>
  </tbody>
</table>

<button
  *ngIf="request.status === 'New' || request.status === 'Reopened'"
  type="button"
  class="btn btn-primary"
  routerLink="/lines/create/{{ request.id }}"
>
  Add Line Item
</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Product | Vendor</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lineItem of lineItems">
      <td>{{ lineItem.product.name }} | {{ lineItem.product.vendor.name }}</td>
      <td>{{ lineItem.quantity }}</td>
      <td>{{ lineItem.product.price * lineItem.quantity | currency }}</td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-primary" (click)="approveRequest()">
  Approve
</button>
<button
  *ngIf="request.reasonForRejection.length == 0"
  type="button"
  class="btn btn-warning"
  disabled
>
  Reject
</button>
<button
  *ngIf="request.reasonForRejection.length > 0"
  type="button"
  class="btn btn-warning"
  (click)="rejectRequest()"
>
  Reject
</button>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="reasonForRejection"
    >Reason for Rejection:</label
  >
  <input
    class="form-control col-sm-6"
    [(ngModel)]="request.reasonForRejection"
    type="text"
    name="ReasonForRejection"
    id="reasonForRejection"
    placeholder="Reason For Rejection"
  />
</div>

<!--<div class="input-group">
  <div class="input-group-prepend">
    <button
      type="button"
      class="btn btn-primary mb-2"
      (click)="approveRequest()"
    >
      Approve
    </button>
  </div>
  <input
    class="form-control col-sm-3"
    type="text"
    [(ngModel)]="request.reasonForRejection"
    name="ReasonForRejection"
    id="reasonForRejection"
    placeholder="ReasonForRejection"
  />
  <div class="input-group-append">
    <button type="button" class="btn btn-dange mb-2" (click)="rejectRequest()">
      Reject
    </button>
  </div>
</div>-->
