<app-menu></app-menu>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Description</th>
      <th scope="col">Justification</th>
      <th Scope="col">Status</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ request.user.lastName }}, {{ request.user.firstName }}</td>
      <td>{{ request.description }}</td>
      <td>{{ request.justification }}</td>
      <td>{{ request.status }}</td>
      <td>{{ request.total | currency }}</td>
    </tr>
  </tbody>
</table>

<button
  *ngIf="request.status === 'New' || request.status === 'Reopened'"
  type="button"
  class="btn btn-primary"
  routerLink="/lines/create/{{ request.id }}"
>
  Add Line Items
</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lineItem of lineItems">
      <td>{{ lineItem.product.name }}</td>
      <td>{{ lineItem.quantity }}</td>
      <td>{{ lineItem.product.price * lineItem.quantity | currency }}</td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary" (click)="reviewRequest()">
  Submit
</button>
<button
  *ngIf="request.status === 'Reject'"
  type="button"
  class="btn btn-danger"
  (click)="reopenRequest()"
>
  ReOpen
</button>

<!--<button class="btn btn-primary" routerLink="/user/edit/{{ user.id }}">
  Edit
</button>
<button type="button" (click)="deleteUser()" class="btn btn-danger">
  Delete
</button>

<th scope="col">Actions</th>

<td>
        <a routerLink="/lines/edit/{{ lineItem.id }}">Edit</a> |
        <a routerLink="/request/lines" (click)="deleteItem(request.id)"
          >Delete</a
        >
      </td>
-->
