<button type="button" class="btn btn-primary" routerLink="/product/create">
  Add New Product
</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Part Number</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Unit</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td scope="col">{{ product.name }}</td>
      <td scope="col">{{ product.partNumber }}</td>
      <td scope="col">{{ product.price | currency }}</td>
      <td scope="col">{{ product.vendor.name }}</td>
      <td scope="col">{{ product.unit }}</td>

      <td>
        <a routerLink="/product/detail/{{ product.id }}">Details</a> |
        <a routerLink="/product/list" (click)="deleteProduct(product.id)"
          >Delete</a
        >
      </td>
    </tr>
  </tbody>
</table>
