<button type="button" class="btn btn-primary" routerLink="/user/create">Add New User</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Phone</th>
      <th scope="col">E-mail</th>
      <th scope="col">Reviewer?</th>
      <th scope="col">Admin?</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td scope="col">{{ user.username }}</td>
      <td scope="col">{{ user.firstName }}</td>
      <td scope="col">{{ user.lastName }}</td>
      <td scope="col">{{ user.phone }}</td>
      <td scope="col">{{ user.email }}</td>
      <td scope="col">{{ user.reviewer }}</td>
      <td scope="col">{{ user.admin }}</td>
      <td><a routerLink="/user/detail/{{ user.id }}">Details</a></td>
    </tr>
  </tbody>
</table>
